# Dependencies
node_modules/

# Environment variables
.env
.env.local
.env.*.local

# Logs
logs
*.log
npm-debug.log*

# Editor directories and files
.idea/
.vscode/
*.swp
*.swo

# Operating System
.DS_Store
Thumbs.db

package-lock.json
thoughts.txt
backend/.env
backend/package-lock.json
backend/churchMembers.json